.center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body {
    height: 100vh;
    background-image: url("../images/field_football_stadium.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: darkblue;
    background-color: white;
}

.row-question, .row-answers, .row-results {
    display: none;
}

.count-down {
    position:absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 5em;
    color: orangered;
}

